@charset "EUC-KR";


.moon {
	background-image : url('http://cfile27.uf.tistory.com/image/27286C3C51B022F30E9692');
	background-repeat : no-repeat;
	background-position : center botton;
	background-size :100% auto;
}

.star {
	padding: 3rem 1.5rem;
	text-align: center;
	position: absolute;
    left : 360px;
    top: 230px;
	
	
	
}